<div class="overlay">
  <div class="login-page">
    <div class="form">
      <%= form_with url: sessions_path, class: "login-form" do |f| %>
        <%= f.text_field :username,  placeholder: "username"%>
        <%= f.password_field :password, placeholder: "password" %>
        <%= f.submit "Login", class: "buttonnn" %>
        <p class="message">Not registered? <%= link_to "Create an account", signup_path%></p>
      <% end %>
    </div>
  </div>

  <div class="banner">
    <p>
    Spice up your type with CSS
    <span>
      THE PIRATEBAY
    </span>
    &mdash; no JavaScript required &mdash;
  </p>
  </div>
</div>