<% if sale.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% sale.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


<%=form_with model: sale, class: "ui form" do |f| %>
  
  <div class="five wide required field">
    <div class="ui labeled input">
      <%= f.label "Item name", class: "ui label" %>
      <%= f.text_field :name, placeholder: "Name" %>
    </div>
  </div>

  <div class="fourteen wide required field">
    <div class="ui labeled input">
    <%= f.label :description, class: "ui label" %>
    <%= f.text_area :description, placeholder: "Description" %>
    </div>
  </div>

  <div class="four wide required field">
    <div class="ui labeled input">
      <%= f.label "Starting bid", class: "ui label" %>
      <%= f.number_field :price, placeholder: "0.00" %>
    </div>
  </div>

  <div class="seven wide required field">
    <div class="ui labeled input">
      <%= f.label :closing_date, class: "ui label" %>
      <%= f.datetime_field :closing_date, min: Time.zone.now %>
    </div>
  </div>
  
  <div class="required field">
    <div class="ui labeled input">
      <%= f.label "Image", class: "ui label" %>
      <%= f.file_field :img %>
    </div>
  </div>

  <%= f.submit class: "ui teal button" %>

<% end %>
