<% if sale.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% sale.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


<%=form_with(model: sale) do |f| %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label :price, "Starting bid" %>
    <%= f.number_field :price %>
  </div>

  <div class="field">
    <%= f.label :closing_date %>
  </div>

  <div class="field">
    <%= f.datetime_select :closing_date, prompt: true, start_year: Date.today.year, selected: Time.zone.now, end_year: Date.today.year + 2, ampm: true%>
  </div>

  <%= f.submit %>

<% end %>
