<div class="ui one stackable cards feed">
<% @sales.each do |sale| %>
  <a class="ui raised card" href=<%= sale_path(sale) %>>
  <div class="ui two column grid">
    <div class="five wide column">
      <div class="content">
        <div class="header"><%= sale.name %></div>
        <div class="meta">
          <span class="category"><%= sale.seller.username %></span>
        </div>
        <div class="description">
        <p>for $<%= sale.current_asking_price %></p>
        </div>
      </div>
    </div>
    <div class="eleven wide column">
      <img class="ui medium right floated image" src="<%= url_for(sale.img) if sale.img.attached?%>">
    </div>
  </div>
  </a> 
<% end %>
</div>

