<h1>All sales:</h1>
<% @sales.each do |sale| %>
  <p>
    <%= link_to sale.name, sale %> for $<%= sale.price %> <br>
    posted by: <%= sale.seller.username %>

    <%= form_with model: @bid, url: create_bid_path do |f| %>
      <div class="action">
        <%= f.select :amount, ["25","50", "75", "100"]%>
        <%= f.hidden_field :sale_id, value: sale.id %> 
        <%= f.submit "Bid"%>
      </div>
    <% end %>
  </p>
<% end %>

