<h1>Create a new sale </h1>

<%=form_with model: @sale do |f| %>

  <div>
  <%= f.label :item %>
    <%= f.collection_select :item_id, @items, :id, :name %>
    <%= link_to "Add a new item", new_item_path %>
 <div>
 <br>
 <br>
  <%= f.label :price %>
  <%= f.text_field :price %>
    <br>
    <br>
  <%= f.label :closing_date %>
  <br>
  <br>
  <%= f.datetime_select :closing_date %>

  <%= f.submit %>


<% end %>