<div class="twelve wide centered column">

  <div class="ui two column horizontally divided grid">

    <div class="eight wide column"> 
      <h2><%= @sale.name %></h2>
      <h3>seller: <%= link_to @sale.seller.username, @sale.seller %></h3>
      <%= image_tag url_for(@sale.img), class: "ui fluid image" if @sale.img.attached?%>
      <h4>Current asking price: $<%= @sale.current_asking_price %>
      
      <div class="description">
        <h3>Item Description: </h3>
        <p><%= @sale.description%></p>
      </div>

      <div class="time">
        <% if @sale.active %>
          <h3> The auction will end in <%= @sale.time_to_close %> hours.</h3>
        <% else %>
          <h3>The auction has ended.</h3>
          <p>Winning bid is made by <%= @sale.owner.username %> for $<%= @sale.current_asking_price %></p>
        <% end %>
      </div>

    </div>

    <div class="six wide column">
      
      <div class="ui centered aligned container">

        <% if logged_in? %>
          <h3>Place your bid!</h3>
          <%= form_with model: @bid, url: create_bid_path do |f| %>
            <div class="action">
              <%= f.select :amount, ["25","50", "75", "100"]%>
              <%= f.hidden_field :sale_id, value: @sale.id %>
              <%= f.submit "Bid"%>
            </div>
          <% end %>
        <% end %>

        <h3>Bidding history:</h3>
        <div class="ui center aligned container">
          <%= render 'assets/bids', bids: @sale.bids.reverse %>
        </div>
      
      </div>
      
    </div>

  </div>
  
</div>
