<h2> <%= @sale.seller.username %> is selling <%= @sale.name%> for <%= @sale.price.round(4) %></h2>


<div class="description">
  <h3>Here's what you need to know...</h3>
  <p> <%= @sale.description%> </p>
</div>

<div class="time">
  <% if @sale.active %>
    <h3> The auction will be ended in <%= @sale.format_time %> hours.</h3>
    <ol>
    <% @sale.bids.each do |bid| %>
      <li> <%= bid.username %> - $<%= bid.amount %> </li>
    <% end %>
    </ol>
  <% else %>
    <h3>The auction has ended.</h3>
    
  <% end %>

</div>
