<!DOCTYPE html>
<html>
  <head>
    <title>RailsAuctionProjectMode</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>ThePirateBay</h1>
    <p id="alert"><%= alert %></p>
    <p id="notice"><%= notice %></p>
    <nav class="ui top right fixed inverted vertical menu">
      <% if logged_in? %>
        <%= link_to "Home", root_path, {class: "item"} %>       
        <%= link_to "My Profile", current_user, {class: "item"} %>        
        <%= link_to "Sell", new_sale_path, {class: "item"} %>        
        <%= link_to "Log Out (#{current_user.username})", logout_path, {class: "item"} %>
      <% else %>
        <%= link_to "Log In", login_path, {class: "item"} %>
        <%= link_to "Sign Up", signup_path, {class: "item"} %>       
      <% end %>
    </nav>
    <%= yield %>
  </body>

</html>
